{% extends "account/baselogout.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}

    <section id="logout">
        <div class="row margin-top-50">

                <div class="large-6 columns small-centered">
                    <div class="panel callout radius">
                    <h1>{% trans "Change Password" %}</h1>
                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        <div class="textInput">
                            {% csrf_token %}
                        {{ form|crispy }}

                        <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

