{% load static thumbnail activeurl %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}Sim Racer Indonesia - Home of Hardcore Racing Simulation</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Anton|Lato|Faster+One" rel="stylesheet">
  <!-- Bulma Version 0.6.0 -->
  <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}"/>

  <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/flipclock.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}"/>
{#  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.theme.min.css' %}"/>#}

  <script type="application/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>

  {% block additional_css %}
  {% endblock %}
</head>
<body>
<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-three-quarters">
          <figure class="image" style="width: 300px">
            <h1>
              <img src="/static/images/sri_logo_big.png" alt="Sim Racer Indonesia. Racing Simulation Community. The Home of Hardcore Simulation. ">
            </h1>
          </figure>
        </div>
        <div class="column" id="next_race_box">
          <span class="has-text-red"><b>NEXT EVENT</b></span> 46:02:01<br>
          <b><span class="icon"><i class="fa fa-car"></i></span> GT3 Asia</b><br>
          <b><span class="icon"><i class="fa fa-road"></i></span> Sentul</b><br>
          See our live broadcasting <a href="/">here</a>.
        </div>
      </div>
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="/static/images/sponsors/logitech.png">
            </a>
            <a class="navbar-item" href="/">
              <img src="/static/images/sponsors/alien_needs.png">
            </a>
            <a class="navbar-item" href="/">
              <img src="/static/images/sponsors/zotac_logo.png">
            </a>
            <a class="navbar-item" href="/">
              <img src="/static/images/sponsors/speed_secrets.png">
            </a>
            <a class="navbar-item" href="/">
              <img src="/static/images/sponsors/rf2_logo.png">
            </a>
            <a class="navbar-item" href="/">
              <img src="/static/images/sponsors/iwk.png">
            </a>
            <a class="navbar-item" href="/">
              <img src="/static/images/sponsors/liveracers.png">
            </a>
            <button class="button navbar-burger" data-target="navbar_menu">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
          <div id="navbar_menu" class="navbar-menu">
            <div class="navbar-end">
            <span class="navbar-item">
              <a class="button is-dark">
                <span class="icon">
                  <i class="fa fa-user"></i>
                </span>
                <a href="/accounts/signup/">Register</a>
              </a>
            </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        {% activeurl css_class="is-active" %}
        <ul>
          <li>
            <a href="/">
              <span class="icon">
                  <i class="fa fa-user"></i>
                </span>
              Welcome
            </a>
          </li>
          <li>
            <a href="{% url 'core:calendar' %}">
              <span class="icon">
                  <i class="fa fa-calendar"></i>
                </span>
              Calendar
              <span class="tag is-primary">New</span>
            </a>
          </li>
          <li>
            <a>
              <span class="icon">
                  <i class="fa fa-flag-checkered"></i>
                </span>
              Results
              <span class="tag is-primary">New</span>
            </a>
          </li>
          <li>
            <a>
              <span class="icon">
                  <i class="fa fa-car"></i>
                </span>
              Series
              <span class="tag is-primary">New</span>
            </a>
          </li>
          <li>
            <a>
              <span class="icon">
                  <i class="fa fa-trophy"></i>
                </span>
              Standings
              <span class="tag is-primary">New</span>
            </a>
          </li>
          <li>
            <a>
              <span class="icon">
                  <i class="fa fa-group"></i>
                </span>
              Drivers
              <span class="tag is-primary">New</span>
            </a>
          </li>
          <li>
            <a>
              <span class="icon">
                  <i class="fa fa-file-text-o"></i>
                </span>
              Blog and News
            </a>
          </li>
        </ul>
        {% endactiveurl %}
      </div>
    </nav>
  </div>
</section>

{% block content %}{% endblock %}

<script type="application/javascript" href="{% static 'js/flipclock.min.js' %}"></script>

<script type="application/javascript" src="{% static 'js/project.js' %}"></script>

{% block additional_js %}
{% endblock %}
</body>
</html>