{% extends 'base.html' %}
{% load static thumbnail %}

{% block title %}Calendar - {% endblock %}

{% block additional_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/fullcalendar.min.css' %}"/>
  <script type="application/javascript" src="{% static 'js/moment.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="hero">
        <h2 class="title">Calendar</h2>
        <h3 class="subtitle">Find out and plan your racing schedule</h3>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds is-full-tablet">
          <div id="calendar"></div>
        </div>
        <div class="column is-one-third is-full-tablet">
          <div id="race_info">
            <nav class="panel">
              <p class="panel-heading">
                Race info
              </p>
              <div class="panel-block">
                asgasgasgasg
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block additional_js %}
  <script type="application/javascript">
    $(document).ready(function() {

      // page is now ready, initialize the calendar...

      $('#calendar').fullCalendar({
        // put your options and callbacks here
      })

    });
  </script>
{% endblock %}
