{% extends 'base.html' %}
{% load static thumbnail %}

{% block title %}Series - {% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="hero" style="margin-bottom: 40px">
        <h2 class="title">Series</h2>
        <h3 class="subtitle">Choose a series from a broad range of <b>diverse</b> series</h3>
      </div>
      <div class="columns">
        <div class="column is-full">
          <h2 class="is-size-4" style="margin-bottom: 5px"><b>Active</b></h2>
          <article class="box entry">
            <div class="columns level">
              <div class="column is-narrow">
                <figure class="image is-128x128 level-left">
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
              </div>
              <div class="column level-item">
                <h6 class="is-size-4">Hill Climb Winner</h6>
                <div>
                  <p>
                    Sim Racer Indonesia is packed with lot of features that will greatly enhance your experience. Starting from results that updated minutes after the race, a sophisticated calendar
                  </p>
                </div>
              </div>
            </div>
          </article>
          <article class="box entry">
            <div class="columns level">
              <div class="column is-narrow">
                <figure class="image is-128x128 level-left">
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
              </div>
              <div class="column level-item">
                <h6 class="is-size-4">Hill Climb Winner</h6>
                <div>
                  <p>
                    Sim Racer Indonesia is packed with lot of features that will greatly enhance your experience. Starting from results that updated minutes after the race, a sophisticated calendar
                  </p>
                </div>
              </div>
            </div>
          </article>
          <article class="box entry">
            <div class="columns level">
              <div class="column is-narrow">
                <figure class="image is-128x128 level-left">
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
              </div>
              <div class="column level-item">
                <h6 class="is-size-4">Hill Climb Winner</h6>
                <div>
                  <p>
                    Sim Racer Indonesia is packed with lot of features that will greatly enhance your experience. Starting from results that updated minutes after the race, a sophisticated calendar
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
